nav{
  margin: auto;
  padding:0.1% 0;
  text-align: center;
  font-size: 20px;

}

ul>li{
  display:inline-block;
  padding:15px;
  background-color: white;
  color: black;
}
nav>ul>li:a{
  box-shadow: 0 0 0 0.625em white;
  background-color: red;
  text-decoration: none;

}
nav>ul>li:a hoover{
  box-shadow:0 0 0 0.625em rgba(255,255,255,0.1);
  background-color:lime;
  border: 1px solid white;
  }

  h1{
    font-size: 30px;
    text-align: center;
    }

  h2{
    font-size: 20px;
    text-align: center;
  }

  #home{
    display:flex;
    flex-direction: row;

    }

    #accomodation{
      display:flex;
      flex-direction: row;

    }

    #activities{
      display:flex;
      flex-direction:row;

    }

    #travel{
      display:flex;
      flex-direction: row;

    }

    img{
      border: 10px solid white;
      border-radius: 5%;
    }

    body{
      background-color: black;
      color:white;
    }
  #contact{
    text-align: center;
  }

  .style{
    display: block;

  }
